{% extends "layout.html" %}

{% block content %}
<header>
    <div class="cuadro-texto">
        <div class="texto">
            <h1 class="nombre">Erick David Reyes Vazquez</h1>
            <h2 class="especialidad">Ingeniero</h2>
        </div>
    </div>
    </div>
</header>

<main>

    <section class="about">

        <div class="contenedor">
            <div class="foto">
                <img src="static/img/erick.jpg" alt="erick-vazquez" width="200" height="200">
            </div>

            <div class="texto">
                <h3 class="titulo">Acerca de mi:</h3>
                <p>Soy egresado de la Universidad Politécnica Metropolitana de Hidalgo 
                    en la carrera de Ingeniería en Tecnologías de la Información, soy fan de la musica
                     y mi gusto es el rock en todas sus versiones además tambien 
                     soy gamer en ratos libres le dedico un momento a los shooters. </p>
                
                <p>En cuanto al mundo de la tecnología me he vuelto fan de trabajar en el 
                    entorno de Linux la ventaja de diseñar y/o trabajar con Open Source. El desarrollo 
                    web es como el Arte, tener pasion para transmitir al usuario final el gusto por el trabajo.</p>     
            </div>
        </div>


    </section>

</main>



{% endblock%}