{% extends "layout.html" %}

{% block content %}
<h1>Mis trabajos</h1>

<figure class="figure">
    <img src="static/img/antenas.png" class="figure-img img-fluid rounded" alt="antenas-5g">
    <figcaption class="figure-caption">Pagina principal de un proyecto para Mineria de datos.</figcaption>
</figure>

<figure class="figure">
    <img src="static/img/tuzomovil.png" class="figure-img img-fluid rounded" alt="antenas-5g">
    <figcaption class="figure-caption">Pagina principal para servicio de taxis.</figcaption>
</figure>

{% endblock%}